.DS_Store
.idea
.ddev
nbproject
/var/*
!/var/labels
/vendor
/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php

# ISPConfig resources
stats/
error/
logs/