.DS_Store
.idea
nbproject
var/*
!var/labels
vendor
!public/fileadmin/user_upload/logo
public/*
!public/typo3conf
public/typo3conf/*

# ISPConfig resources
stats/
error/
logs/

# Mode Resources
node_modules/

# Theme
packages/theme/Resources/Public/Stylesheets/theme.css
packages/theme/Resources/Public/Stylesheets/theme.css.map