<div class="container border border-primary-subtle">
    <div class="row">
        <div class="col">
            <a href="/" class="logo">
                <f:image src="/typo3conf/ext/theme/Resources/Public/Images/Logo/logo-white.svg" height="33em"
                    alt="W3Development SHPK - Web Development Company" class="img-fluid" />
            </a>
        </div>
        <div class="col">
            <h5 class="mb-2 location">
                <f:translate key="international" extensionName="theme" />
            </h5>
            <span class="phone text-2">
                <a href="tel:{f:translate(key: 'phone', extensionName: 'theme')}">
                    <i class="fa fa-phone text-color-primary"></i>
                    <f:translate key="phone" extensionName="theme" />
                </a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col languageswitcher">
            <f:if condition="{f:cObject(typoscriptObjectPath: 'lib.language')} == nono">
                <f:then></f:then>
                <f:else>
                    <f:cObject typoscriptObjectPath="lib.mainlanguagesiwtcher" />
                </f:else>
            </f:if>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p><f:translate key="footercopyright" extensionName="theme" /></p>
        <ul class="list-unstyled d-flex">
            <li class="ms-1">
                <a href="mailto:info@w3development.net" class="btn btn-secondary">
                    <i class="bi bi-envelope-at-fill"></i>
                </a>
            </li>
            <li class="ms-1">
                <a href="https://www.facebook.com/w3developmentshpk/" target="_blank" class="btn btn-secondary">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
            <li class="ms-1">
                <a href="https://twitter.com/w3devel" target="_blank" class="btn btn-secondary">
                    <i class="bi bi-twitter"></i>
                </a>
            </li>
            <li class="ms-1">
                <a href="https://www.linkedin.com/company/w3development/" target="_blank" class="btn btn-secondary">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
