<div class="header-body">
  <div class="header-container container">
    <div class="header-row">
      <div class="header-column">
        <div class="header-row">
          <div class="header-logo">
            <a href="/">
              <f:image src="/typo3conf/ext/theme/Resources/Public/Images/Logo/logo.svg"
              width="154px" height="30px" alt="W3Development SHPK - Web Development Company"/>
            </a>
          </div>
        </div>
      </div>
      <div class="header-column justify-content-end">
        <div class="header-row">
          <div class="header-nav header-nav-stripe">
            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
              <input type="checkbox" id="toggle" checked>
              <label for="toggle" class="button">
                    MENU
                    <i class="fa-sharp fa-solid fa-bars fa-fade"></i>
                </label>
              <nav id="main-navigation" class="collapse">
                    <f:cObject typoscriptObjectPath="lib.mainNavigation" />
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
