<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Content/Default"/>

<f:section name="Configuration">

    <flux:form id="work" label="Work">
        <flux:field.input name="title" label="Title" />
        <flux:field.input name="description" label="Description" />
        <flux:field.file name="image" label="Image" useFalRelation="1" minItems="0" maxItems="1" allowed="jpg,png,svg" showThumbnails="1" />
        <flux:field.select name="category" label="Category" items="wordpress, typo3, magento" />
    </flux:form>

</f:section>

<f:section name="Preview">
    <table width="100%">
        <tr>
            <td width="100%">
                <h5>{title}</h5>
              </td>
        </tr>
    </table>
</f:section>

<f:section name="Main">
  <div class="col-md-6 col-lg-4 m-0 p-0 {category}">
    <div class="portfolio-item m-0">
      <a href="#">
        <span class="thumb-info thumb-info-centered-info thumb-info-no-borders m-0">
          <span class="thumb-info-wrapper">
            <f:image  src="{image}" class="img-fluid" width="350" height="350"  alt=""/>
            <span class="thumb-info-title">
              <span class="thumb-info-inner">{title}</span>
              <span class="thumb-info-type">{description}</span>
            </span>
            <span class="thumb-info-action">
              <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
</f:section>

</div>
