<f:if condition="{settings.headerTag}">
	<f:variable name="headerTagOpen"><f:format.raw><{settings.headerTag}></f:format.raw></f:variable>
	<f:variable name="headerTagClose"><f:format.raw></{settings.headerTag}></f:format.raw></f:variable>
</f:if>
<div class="contentwrap" style="height:{data.imageheight}px;">
	<div class="slick-header">
		<f:format.raw>{headerTagOpen}</f:format.raw>
		<f:if condition="{data.header_link}">
			<f:then>
				<f:link.typolink parameter="{data.header_link}">{data.header}</f:link.typolink>
			</f:then>
			<f:else>
				{data.header}
			</f:else>
		</f:if>
		<f:format.raw>{headerTagClose}</f:format.raw>
	</div>
	<div class="slick-text">
		<f:format.html>{data.bodytext}</f:format.html>
	</div>
</div>

