@media (max-width: 575px) {
    h2 {
        line-height: 40px
    }
}

@media (max-width: 767px) {
    #header .container {
        width: 100%
    }
}

@media (min-width: 992px) {
    #header .header-nav-main nav {
        display: flex
    }

    #header .header-nav-main nav ul li {
        margin-left: 2px
    }

    #header .header-nav-main nav ul li a {
        display: inline-flex;
        align-items: center;
        white-space: normal;
        border-radius: 4px;
        color: #CCC;
        font-size: .9rem;
        font-style: normal;
        font-weight: 700;
        padding: .5rem .9rem;
        text-transform: uppercase
    }

    #header .header-nav-main nav ul li:active {
        background-color: transparent;
        text-decoration: none;
        color: #e85215
    }

    #header .header-nav-main nav>ul>li>a.dropdown-toggle:after {
        border-color: #CCC transparent transparent;
        border-width: .24rem;
        margin-left: .255em;
        margin-right: 0
    }

    #header .header-nav-main nav>ul>li:hover>a,
    #header .header-nav-main nav>ul>li>a.active {
        background: #CCC;
        color: #FFF
    }

    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu {
        top: -10000px;
        display: block;
        opacity: 0;
        left: auto;
        border-radius: 0 4px 4px;
        border: 0;
        border-top: 3px solid #CCC;
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
        margin: 0;
        min-width: 200px;
        padding: 5px;
        text-align: left
    }

    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a {
        border-bottom: 1px solid #f4f4f4;
        color: #777;
        font-size: .8em;
        font-weight: 400;
        padding: 6px 20px 6px 8px;
        position: relative;
        text-transform: none
    }

    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a:active,
    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a:focus,
    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li a:hover {
        background-color: #f8f9fa
    }

    #header .header-nav-main nav>ul>li.dropdown .dropdown-menu li:last-child a {
        border-bottom: 0
    }

    #header .header-nav-main nav>ul>li.dropdown:hover>a {
        border-radius: 4px 4px 0 0;
        position: relative
    }

    #header .header-nav-main nav>ul>li.dropdown:hover>a:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        border-bottom: 5px solid #CCC
    }

    #header .header-nav-main nav>ul>li.dropdown:hover>.dropdown-menu {
        top: auto;
        display: block;
        opacity: 1
    }

    #header .header-nav-main.header-nav-main-square nav>ul>li>a {
        border-radius: 0
    }

    #header .header-nav-main.header-nav-main-square nav>ul>li.dropdown .dropdown-menu {
        border-radius: 0
    }

    #header .header-nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        align-self: stretch
    }

    #header .header-nav.header-nav-stripe {
        padding: 0
    }

    #header .header-nav.header-nav-stripe .header-nav-main {
        align-self: stretch;
        margin-top: -1px;
        min-height: 0
    }

    #header .header-nav.header-nav-stripe nav {
        display: flex
    }

    #header .header-nav.header-nav-stripe nav>ul>li {
        display: inline-flex;
        align-self: stretch
    }

    #header .header-nav.header-nav-stripe nav>ul>li>a {
        background: 0 0;
        padding: 0 .9rem;
        margin: 1px 0 0;
        height: 100%;
        color: #d6ebf5;
        letter-spacing: 2px;
    }

    #header .header-nav.header-nav-stripe nav>ul>li>a.dropdown-toggle:after {
        border-color: #d6ebf5 transparent transparent
    }

    #header .header-nav.header-nav-stripe nav>ul>li>a.active {
        color: #e2a289;
        background: 0 0
    }

    #header .header-nav.header-nav-stripe nav>ul>li:hover>a,
    #header .header-nav.header-nav-stripe nav>ul>li:hover>a.active {
        color: #e85215;
        padding-bottom: 0
    }

    #header .header-nav.header-nav-stripe nav>ul>li:hover>a.dropdown-toggle:after {
        border-color: #FFF transparent transparent
    }

    #header .header-nav.header-nav-stripe nav>ul>li.dropdown:hover>a:before {
        content: none
    }

    #header .header-nav.header-nav-stripe nav>ul>li.dropdown:hover>.dropdown-menu {
        top: 100%;
        left: 0;
        margin-top: 1px
    }

    #header .header-nav-main {
        display: flex;
        height: auto
    }

    #header .header-nav-main-effect-2 nav>ul>li.dropdown .dropdown-menu {
        transition: transform .2s ease-out, opacity .2s ease-out;
        transform: translate3d(0, -5px, 0);
        opacity: 0
    }

    #header .header-nav-main-effect-2 nav>ul>li.dropdown:hover>.dropdown-menu {
        transform: translate3d(0, -1px, 0);
        opacity: 1
    }
}

@media (max-width: 991px) {
    #header .header-nav-main {
        position: absolute;
        background: 0 0;
        width: 100%;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0)
    }

    #header .header-nav-main:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 100%;
        background: #FFF;
        z-index: -1;
        transform: translateX(-50%)
    }

    #header .header-nav-main nav {
        max-height: 50vh;
        overflow: hidden;
        overflow-y: auto;
        padding: 0 15px
    }

    #header .header-nav-main nav::-webkit-scrollbar {
        width: 5px
    }

    #header .header-nav-main nav::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0;
        border-radius: 0;
        background: rgba(204, 204, 204, 0.5)
    }

    #header .header-nav-main nav>ul {
        flex-direction: column;
        padding: .8rem 0
    }

    #header .header-nav-main nav>ul li {
        border-bottom: 1px solid #e8e8e8;
        clear: both;
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        position: relative
    }

    #header .header-nav-main nav>ul li a {
        font-size: 13px;
        font-style: normal;
        line-height: 20px;
        padding: 7px 8px;
        margin: 1px 0;
        border-radius: 4px;
        text-align: left
    }

    #header .header-nav-main nav>ul li a.dropdown-toggle:after {
        content: none
    }

    #header .header-nav-main nav>ul li a:active {
        background-color: #f8f9fa;
        color: inherit
    }

    #header .header-nav-main nav>ul li.dropdown .dropdown-menu {
        background: 0 0;
        padding: 0;
        margin: 0;
        font-size: 13px;
        box-shadow: none;
        border-radius: 0;
        border: 0;
        clear: both;
        float: none;
        position: static
    }

    #header .header-nav-main nav>ul li:last-child {
        border-bottom: 0
    }

    #header .header-nav-main nav>ul>li>a {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 1px;
        margin-bottom: 1px;
        color: #CCC
    }

    #header .header-nav-main nav>ul>li>a:active {
        color: #CCC
    }

    #header .header-nav-main nav>ul>li>a.active,
    #header .header-nav-main nav>ul>li>a.active:focus,
    #header .header-nav-main nav>ul>li>a.active:hover {
        color: #FFF;
        background: #CCC
    }

    #header .header-nav.header-nav-stripe {
        min-height: 90px
    }

    #header .header-logo img {
        z-index: 1
    }

    #header .header-nav {
        display: flex;
        align-items: center
    }
}

@media only screen and (max-width: 991px) {
    .header-row input#submenu:checked~.dropdown-menu {
        display: block
    }

    .header-row input#toggle:checked~.collapse {
        top: -700px
    }

    #header .header-nav-main nav>ul li.dropdown .dropdown-menu {
        border-left: none;
        border-right: none;
        border-top: 1px solid #CCC;
        border-color: #CCC
    }

    #header .header-nav-main nav .dropdown>ul li a {
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 20px;
        color: #CCC;
        font-size: 17px;
        text-align: center;
        padding-bottom: 20px
    }

    #header .header-nav-main nav>ul li.dropdown .dropdown-menu {
        background-color: #e85215;
        box-shadow: inset 0px 10px 8px -10px, inset 0px -10px 8px -10px
    }

    #main-navigation .dropdown .dropdown-item.dropdown-toggle {
        margin-bottom: -27px;
        border-radius: 0
    }

    .header-row input#toggle+label {
        right: 28px;
        font-size: 18px;
        font-weight: bold;
        color: #CCC;
        display: block;
        height: 34px;
        position: absolute;
        right: 28;
        top: -65px;
        cursor: pointer;
        border-bottom: 1px solid #e85215;
        z-index: 10;
        line-height: 34px
    }

    .header-row .collapse {
        position: relative;
        top: 0;
        background-color: #517485
    }

    .header-nav-main.header-nav-main-square.header-nav-main-effect-2.header-nav-main-sub-effect-1 {
        height: 0
    }

    #header .header-nav-main nav {
        max-height: 87vh;
        padding: 0
    }

    nav.collapse #mainNav a:hover {
        background-color: #e85215
    }

    label.button {
        display: block
    }

    #header .header-nav-main nav>ul>li>a {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 17px
    }

    .submenuexpanded {
        display: block
    }
}

@media (max-width: 991px) {
    .thumb-info .thumb-info-title {
        font-size: 14px
    }
}

@media (max-width: 767px) {
    .sort-destination {
        height: auto
    }
}

@media (max-width: 575px) {
    article.post-large {
        margin-left: 0
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    article.post-large {
        padding: 0px 2.5em;
    }
}

@media (max-width: 600px) {
    .image-embed-item {
        width: 100%;
        height: auto
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}