@font-face {
    font-family: "PT Sans";
    src: url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Regular.eot');
    src: url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Regular.eot') format('embedded-opentype'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Regular.woff') format('woff'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    src: url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Bold.eot');
    src: url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Bold.woff2') format('woff2'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Bold.woff') format('woff'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Bold.ttf') format('truetype'),
        url('/typo3conf/ext/theme/Resources/Public/fonts/ptsans/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}