<div xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <f:layout name="Default"/>

    <f:section name="content">
        <div class="pswp" id="pswp-wrapper" data-init="{settings.initClasses}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close"
                                title="{f:translate(key: 'btn.close', extensionName: 'photoswipe')}">
                        </button>
                        <f:if condition="{settings.shareButton}">
                            <button class="pswp__button pswp__button--share"
                                    title="{f:translate(key: 'btn.share', extensionName: 'photoswipe')}">
                            </button>
                        </f:if>
                        <button class="pswp__button pswp__button--fs"
                                title="{f:translate(key: 'btn.fullscreen', extensionName: 'photoswipe')}">
                        </button>
                        <button class="pswp__button pswp__button--zoom"
                                title="{f:translate(key: 'btn.zoom', extensionName: 'photoswipe')}">
                        </button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <f:if condition="{settings.shareButton}">
                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>
                    </f:if>
                    <button class="pswp__button pswp__button--arrow--left"
                            title="{f:translate(key: 'btn.previous', extensionName: 'photoswipe')}">
                    </button>
                    <button class="pswp__button pswp__button--arrow--right"
                            title="{f:translate(key: 'btn.next', extensionName: 'photoswipe')}">
                    </button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                </div>
            </div>
        </div>
    </f:section>

</div>
