.debug{
    &.borders{
        border: 1px solid red;
    }

    &.div{
        width: auto;
        min-height: 200px;
        
        &.red{
            background-color: indianred;
            color: #eee;
        }
        &.blue{
            background-color: rgb(50, 112, 228);
            color: #eee;
        }
        &.green{
            background-color: rgb(29, 184, 124);
            color: #eee;
        }
        &.yellow{
            background-color: rgb(221, 230, 105);
            color: #eee;
        }
        &.gray{
            background-color: rgb(122, 122, 122);
            color: #eee;
        }
    }
}