.clearfix::after,
.dropdown-toggle::after {
	content: "";
}

:root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

*,
::after,
::before {
	box-sizing: border-box;
}

.btn:focus,
.btn:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover,
.nav-link:focus,
.nav-link:hover,
.social-icons li a,
.sort-source > li > a,
.thumb-info,
.thumb-info-social-icons a:hover {
	text-decoration: none;
}

[type=submit] {
	-webkit-appearance: button;
}

[type=submit]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

[hidden] {
	display: none;
}

.toggle > label:selection {
	background: 0 0;
}

.clearfix:after {
	display: block;
	line-height: 0;
}

.divider,
hr {
	border: 0;
	height: 1px;
}

.btn {
	display: inline-block;
	text-align: center;
	user-select: none;
	border: 1px solid transparent;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&,
	img {
		vertical-align: middle;
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
	}

	&:disabled {
		opacity: 0.65;
	}

	&:not([disabled]):not(.disabled):active {
		background-image: none;
	}

	& {
		font-size: 0.9rem;
		padding: 0.47rem 0.75rem;
		cursor: pointer;
	}

	&.btn-xs {
		font-size: 0.7rem;
		padding: 0.2rem 0.5rem;
	}

	&.btn-lg {
		font-size: 1rem;
		padding: 0.5rem 1rem;
	}

	&.btn-xl {
		font-size: 1rem;
		padding: 0.8rem 2rem;
	}
}

.btn-outline {
	border-width: 2px;

	&.btn-primary {
		color: #e85215;
		background-color: transparent;
		background-image: none;
		border-color: #e85215;

		&:hover {
			color: #FFF;
			background-color: #e85215;
			border-color: #e85215;
		}

		&:disabled {
			color: #e85215;
			background-color: transparent;
		}

		&:active {
			color: #FFF;
			background-color: #e85215;
			border-color: #e85215;
		}
	}
}

.btn-primary {
	color: #fff;
	background-color: #e85215;
	border-color: #e85215;

	&:hover {
		color: #fff;
		background-color: #e0612d;
		border-color: #e0612d;
	}

	&:not([disabled]):not(.disabled):active {
		color: #fff;
		background-color: #0062cc;
		border-color: #005cbf;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
	}

	&:focus,
	.btn-outline.btn-primary:focus {
		box-shadow: 0 0 0 3px rgba(232, 82, 21, .5);
	}

	&:disabled {
		background-color: #e85215;
		border-color: #e85215 #e85215 #b94111;
	}

	&:active {
		background-color: #c54612;
		background-image: none;
		border-color: #b94111 #b94111 #8a310d;
	}
}

.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;

	&:hover {
		color: #212529;
		background-color: #e2e6ea;
		border-color: #dae0e5;
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, .5);
	}

	&:disabled {
		background-color: #f8f9fa;
		border-color: #f8f9fa;
	}

	&:not([disabled]):not(.disabled):active {
		color: #212529;
		background-color: #dae0e5;
		border-color: #d3d9df;
		box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, .5);
	}
}

html {
	body {
		.btn-light {
			border-color: #ccc #ccc #b3b3b3;
			color: #444;

			&:hover {
				background-color: #f2f2f2;
				border-color: #d9d9d9 #d9d9d9 #bfbfbf;
				color: #444;
			}

			&:focus {
				box-shadow: 0 0 0 3px rgba(179, 179, 179, .5);
			}

			&:active,
			&:disabled {
				border-color: #b3b3b3;
			}
		}
	}
}

.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	border-radius: 0.3rem;

	& {
		line-height: 1.334;
	}
}

.tab-content {
	> .tab-pane {
		display: none;
	}

	> .active {
		display: block;
	}
}

.rounded-circle {
	border-radius: 50%;
}

.clearfix::after {
	display: block;
	clear: both;
}

.dropdown {
	position: relative;

	&-toggle::after {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
	}

	&-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 10rem;
		padding: 0.5rem 0;
		margin: 0.125rem 0 0;
		font-size: 1rem;
		color: #212529;
		text-align: left;
		list-style: none;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 0.25rem;
	}

	&-item {
		display: block;
		width: 100%;
		padding: 0.25rem 1.5rem;
		clear: both;
		color: #212529;
		text-align: inherit;
		background: 0 0;
		border: 0;

		&:active {
			color: #fff;
			background-color: #007bff;
		}

		&:disabled {
			color: #868e96;
			background-color: transparent;
		}

		&:focus {
			color: #16181b;
			background-color: #f8f9fa;
		}

		&:hover {
			color: #16181b;
			background-color: #f8f9fa;
		}
	}
}


.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	color: #212529;
	text-align: inherit;
	background: 0 0;
	border: 0;

	&:focus,
	&:hover {
		color: #16181b;
		background-color: #f8f9fa;
	}

	&:active {
		color: #fff;
		background-color: #007bff;
	}

	&:disabled {
		color: #868e96;
		background-color: transparent;
	}
}

.thumb-info {
	display: block;
	max-width: 100%;
	background-color: #FFF;
	border: 1px solid #DDD;
	border-radius: 4px;

	.thumb-info-wrapper {
		border-radius: 4px;
		margin: 4px;
		display: block;
	}

	.thumb-info-wrapper:after {
		content: "";
		background: rgba(23, 23, 23, .8);
		transition: all 0.3s;
		border-radius: 4px;
		bottom: -4px;
		color: #FFF;
		left: -4px;
		position: absolute;
		right: -4px;
		top: -4px;
		display: block;
		opacity: 0;
		z-index: 1;
	}

	.thumb-info-action-icon {
		transition: all 0.3s;
		background: #CCC;
		border-radius: 0 0 0 25px;
		display: inline-block;
		font-size: 25px;
		height: 50px;
		line-height: 50px;
		position: absolute;
		right: -100px;
		text-align: center;
		top: -100px;
		width: 50px;
		z-index: 2;
	}

	.thumb-info-action-icon i {
		font-size: 24px;
		left: 3px;
		position: relative;
		top: -4px;
		color: #FFF;
	}

	.thumb-info-inner {
		transition: all 0.3s;
		display: block;
	}

	.thumb-info-title {
		transition: all 0.3s;
		background: rgba(23, 23, 23, .8);
		bottom: 10%;
		color: #FFF;
		font-size: 18px;
		font-weight: 700;
		left: 0;
		letter-spacing: -1px;
		padding: 9px 11px;
		position: absolute;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
		text-transform: uppercase;
		z-index: 2;
		max-width: 90%;
	}

	.thumb-info-type {
		background-color: #CCC;
		border-radius: 2px;
		display: inline-block;
		float: left;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0;
		margin: 8px -2px -15px;
		padding: 2px 9px;
		text-transform: none;
		z-index: 2;
	}

	img {
		transition: all 0.3s ease;
		border-radius: 3px;
		position: relative;
		width: 100%;
	}

	&:hover .thumb-info-wrapper:after {
		opacity: 1;
	}

	&:hover .thumb-info-action-icon {
		right: 0;
		top: 0;
	}

	&:hover .thumb-info-title {
		background: #000;
	}

	&:hover img {
		transform: scale(1.1, 1.1);
	}

	&.thumb-info-centered-info .thumb-info-title {
		background: 0 0;
		left: 5%;
		width: 90%;
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		transform: translate(0, -30%);
		top: 50%;
		bottom: auto;
		opacity: 0;
		text-align: center;
		padding: 0;
		position: absolute;
	}

	&.thumb-info-centered-info .thumb-info-type {
		float: none;
	}

	&.thumb-info-centered-info:hover .thumb-info-title {
		opacity: 1;
		transform: translate(0, -50%);
	}

	&.thumb-info-no-borders,
	&.thumb-info-no-borders .thumb-info-wrapper,
	&.thumb-info-no-borders img {
		border: 0;
		padding: 0;
		margin: 0;
		border-radius: 0;
	}

	&.thumb-info-no-borders .thumb-info-wrapper:after {
		border-radius: 0;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}

	&,
	.thumb-info-wrapper {
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		overflow: hidden;
		position: relative;
	}

	&-social-icons {
		border-top: 1px dotted #DDD;
		margin: 0;
		padding: 15px 10px;
		display: block;

		a {
			background: #517485;
			border-radius: 25px;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			text-align: center;
			width: 30px;
		}

		a i {
			color: #FFF;
			font-size: 0.9em;
			font-weight: 400;
		}
	}
}
@media (max-width: 991px) {
	.thumb-info .thumb-info-title {
		font-size: 14px;
	}
}

.sort-source {
	clear: both;

	> li > a {
		padding: 6px 12px;
	}
}
@media (max-width: 767px) {
	.sort-destination {
		height: auto;
	}
}

.icon-featured {
	display: inline-block;
	margin: 15px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FFF;
	font-size: 35px;
	line-height: 110px;

	&:after {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		content: '';
		box-sizing: content-box;
	}
}
@media (max-width: 575px) {
	article.post-large {
		margin-left: 0;
	}
}

.social-icons {
	margin: 0;
	padding: 0;
	width: auto;

	li {
		display: inline-block;
		margin: -1px 1px 0 0;
		padding: 0;
		border-radius: 100%;
		box-shadow: none;
	}

	li a {
		transition: all 0.2s ease;
		border-radius: 100%;
		display: block;
		height: 30px;
		line-height: 30px;
		width: 30px;
		text-align: center;
	}

	li:hover a {
		background: #171717;
		color: #FFF;
	}

	li:hover.social-icons-twitter a {
		background: #1aa9e1;
	}

	li:hover.social-icons-facebook a {
		background: #3b5a9a;
	}

	li:hover.social-icons-linkedin a {
		background: #0073b2;
	}
}

.counters {
	.counter {
		text-align: center;
	}

	.fa {
		display: block;
		font-size: 35px;
		line-height: 35px;
		margin-bottom: 5px;
	}

	strong {
		display: block;
		font-weight: 700;
		font-size: 50px;
		line-height: 50px;
	}

	label {
		display: block;
		font-weight: 100;
		font-size: 20px;
		line-height: 20px;
	}

	&.counters-text-dark .counter,
	&.counters-text-dark .counter .fa,
	&.counters-text-dark .counter label,
	&.counters-text-dark .counter strong {
		color: #141414;
	}
}

.social-icons li a {
	background: 0 0;
}

.body {
	min-height: 100%;
}

.slider {
	background-color: #fff;

	.slider-inner-cover {
		background-image: url("/fileadmin/user_upload/banner/mountains.png");
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}

	.slider-inner-cover .slider-inner {
		position: relative;
		padding: 5% 5% 10% 2%;
	}

	.slider-inner-cover .slider-inner h1 {
		font-size: 5rem;
		margin-bottom: 0.5em;
		color: #e85215;
		line-height: 1.1;
		text-shadow: 1px 1px 1px #444;
	}

	.slider-inner-cover .slider-inner h2 {
		font-size: 1.5em;
		font-weight: 600;
		letter-spacing: normal;
		line-height: 18px;
		margin: 0 0 14px;
		color: #517485;
	}

	.slider-inner-cover .slider-inner .text-learn-more {
		padding: 0;
	}
}

.social-icons li a,
.text-secondary,
a.text-secondary:focus,
a.text-secondary:hover {
	color: #517485;
}

.divider {
	margin: 44px auto;
	background-image: linear-gradient(to left, transparent, #DBDBDB, transparent);
	text-align: center;
	position: relative;
	clear: both;

	&.taller {
		margin: 66px auto;
	}

	.fa {
		background: #FFF;
		border-radius: 50px;
		color: #a9a9a9;
		display: inline-block;
		height: 50px;
		line-height: 50px;
		position: absolute;
		text-align: center;
		width: 50px;
		font-size: 20px;
		margin: 0 auto 0 -25px;
		top: -25px;
		left: 50%;
		z-index: 1;
	}

	&.divider-style-4 .fa {
		border: 1px solid #CECECE;
	}

	&.divider-style-4 .fa:after {
		border: 3px solid #f4f4f4;
		border-radius: 50%;
		box-sizing: content-box;
		content: "";
		display: block;
		height: 100%;
		left: -4px;
		padding: 1px;
		position: absolute;
		top: -4px;
		width: 100%;
	}

	&.divider-small {
		margin: 22px auto;
		background: 0 0;
	}

	&.divider-small hr {
		width: 50px;
		height: 3px;
		background: #555;
	}

	&.divider-small.divider-small-center {
		text-align: center;
	}

	&.divider-small.divider-small-center hr {
		margin-left: auto;
		margin-right: auto;
	}
}

.divider-top-section-custom {
	margin-bottom: -50px;
}

.featured-box {
	background: #F5F5F5;
	background: linear-gradient(to bottom, #FFF 1%, #fcfcfc 98%) rgba(0, 0, 0, 0);
	box-sizing: border-box;
	border-bottom: 1px solid #DFDFDF;
	border-left: 1px solid #ECECEC;
	border-radius: 8px;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
	min-height: 100px;
	position: relative;
	text-align: center;
	z-index: 1;
	margin: 20px auto;

	.box-content {
		border-radius: 8px;
		border-top: 1px solid #CCC;
		border-top-width: 4px;
		padding: 30px 30px 10px;
		position: relative;
		top: -1px;
	}
}

.featured-boxes-style-6 {
	.featured-box {
		background: 0 0;
		border: 0;
		box-shadow: none;
		margin: 10px 0;
	}

	.featured-box .box-content {
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.featured-box .icon-featured {
		display: inline-block;
		font-size: 30px;
		height: 75px;
		padding: 0;
		width: 75px;
		margin-top: 0;
		margin-bottom: 10px;
		background: #FFF;
		line-height: 73px;
		border: 1px solid #cecece;
		color: #e85215;
	}

	.featured-box .icon-featured:after {
		border: 5px solid #f4f4f4;
		border-radius: 50%;
		box-sizing: content-box;
		content: "";
		display: block;
		height: 100%;
		left: -6px;
		padding: 1px;
		position: absolute;
		top: -6px;
		width: 100%;
	}
}

.featured-boxes .featured-box {
	margin-bottom: 30px;
	margin-top: 45px;
}

.featured-box-effect-6 {
	.icon-featured:after {
		transition: all 0.2s, transform 0.2s;
	}

	&:hover .box-content .icon-featured:after {
		transform: scale(1.1);
	}
}

.feature-box {
	display: flex;

	.feature-box-info {
		flex: 1 1 100%;
		padding-left: 15px;
	}

	&.feature-box-style-4 {
		flex-wrap: wrap;
	}

	&.feature-box-style-4 h4 {
		// color: #000;
	}

	&.feature-box-style-4 .feature-box-info {
		clear: both;
		padding-left: 0;
	}
}

.featured-boxes-full {
	.featured-box-full {
		text-align: center;
		padding: 55px;
	}

	.featured-box-full .fab,
	.featured-box-full .fas,
	.featured-box-full h4,
	.featured-box-full p {
		color: #FFF;
		padding: 0;
		margin: 0;
	}

	.featured-box-full .fab,
	.featured-box-full .fas {
		font-size: 3.9em;
		margin-bottom: 15px;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	}

	.featured-box-full p {
		padding-top: 12px;
		opacity: 0.8;
	}
}

.thumb-info,
.thumb-info .thumb-info-wrapper {
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	overflow: hidden;
	position: relative;
}

.d-none {
	display: none;
}

.d-block {
	display: block;
}

.btn,
.dropdown-item {
	font-weight: 400;
	white-space: nowrap;
}

.img-thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
}
@media (max-width: 600px) {
	.image-embed-item {
		width: 100%;
		height: auto;
	}
}

.container,
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.no-gutters > [class*=col-] {
	padding-right: 0;
	padding-left: 0;
}

.img-thumbnail,
.img-thumbnail img,
.tabs {
	border-radius: 4px;
}
@media (min-width: 992px) {
	#header .header-body {
		height: auto;
	}
}

.clearfix:after,
.form-group:after {
	content: ".";
	visibility: hidden;
	height: 0;
	clear: both;
}

.text-2 {
	font-size: 0.9em;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-muted {
	color: #999;
}

.text-dark {
	color: #000;
}

.text-light {
	color: #FFF;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.font-weight-semibold {
	font-weight: 600;
}

.img-thumbnail {
	position: relative;
}

.list {
	li {
		margin-bottom: 13px;
	}
}

.list.list-icons {
	list-style: none;
	padding-left: 0;
	padding-right: 0;

	li {
		position: relative;
		padding-left: 25px;

		> .fa {

				position: absolute;
				left: 0;
				top: 12px;

		}
		a{
		  color: #517485;
		}
	}
}

.social-icons li a,
.text-secondary,
a.text-secondary:focus,
a.text-secondary:hover {
	color: #517485;
}

@media screen and (min-width:320px){

	  section.section .lead{
	    font-size: 3.5rem;
	  }
	  section.section .lead.text.text-secondary{
	    font-size: 2.7rem;
	  }
	  .mt-3 {
        margin-top: 7rem;
       }
      .list.list-icons{
        margin-top: 2rem;
      }
}

@media screen and (min-width:769px){
	  section.section .lead.text.text-secondary{
	    font-size: 3.5rem;
	  }
	  section.section .lead{
	    font-size: 4.5rem;
	  }
	  .mt-3 {
        margin-top: -2rem;
       }


}
@media screen and (min-width:1000px){

	   .mt-3 {
        margin-top: 1rem;
       }
       .list.list-icons{
        margin-top: 1rem;
      }
}
@media screen and (min-width:1200px){
	  section.section .lead.text.text-secondary{
	    font-size: 4.5rem;
	  }
}

figcaption.image-caption{
  font-size: 0.75rem;
  color: #aaa;
}

.bg-primary{
    background-color: #1d3744;
}

.bg-light{
    background: #e0e0e0;
}
