@font-face {
    font-family: 'PT Sans';
    src: url("./Fonts/PTSans/PTSans-Regular.ttf") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url("./Fonts/PTSans/PTSans-Bold.ttf") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'PT Sans';
    src: url("./Fonts/PTSans/PTSans-Italic.ttf") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url("./Fonts/PTSans/PTSans-BoldItalic.ttf") format('woff2');
    font-style: italic;
    font-weight: 700;
}