@font-face {
    font-family: "PT Sans";
    src: url('./Fonts/PTSans/PTSans-Regular.eot');
    src: url('./Fonts/PTSans/PTSans-Regular.eot') format('embedded-opentype'),
        url('./Fonts/PTSans/PTSans-Regular.woff2') format('woff2')
        url('./Fonts/PTSans/PTSans-Regular.woff') format('woff'),
        url('./Fonts/PTSans/PTSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'PT Sans';
    src: url('./Fonts/PTSans/PTSans-Bold.eot');
    src: url('./Fonts/PTSans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
        url('./Fonts/PTSans/PTSans-Bold.woff') format('woff'),
        url('./Fonts/PTSans/PTSans-Bold.ttf') format('truetype'),
        url('./Fonts/PTSans/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url("./Fonts/PTSans/PTSans-Italic.ttf") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url("./Fonts/PTSans/PTSans-BoldItalic.ttf") format('woff2');
    font-style: italic;
    font-weight: 700;
}