$font-family-sans-serif:      "PT Sans" !default;
$font-family-monospace:       "PT Sans", monospace !default;

$border-radius: 0 !default;

$bs-btn-color: #fff;
// scss-docs-start theme-color-variables
$primary:       #517485 !default;
$secondary:     #e85215 !default;
$light:         #e0e0e0 !default;
$dark:          #193b4d !default;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  99: $spacer * 8
) !default;

// Header Typography
$navigation-font-size: 1rem;
$lead-font-size: 4.5rem;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// Buttons
// Allows for customizing button radius independently from global border radius
$btn-border-radius: 0;

// Forms
$input-border-radius:                   0;
$input-border-radius-sm:                0;
$input-border-radius-lg:                0;

$color-primary: #1f3a47;
$color-secondary: #171717;
$color-tertiary: #007bff;
$color-accent: #171717;
$color-light: #dcdcdc;
$color-dark: #333333;

$fa-font-path: "./Fonts/FontAwesome/" !default;
$bootstrap-icons-font-dir: "./Fonts/BootstrapIcons/" !default;