#footer {
    font-size: .9em;
    position: relative;
    clear: both;
    color: #e3e3e3;

    a {
        color: #e3e3e3;
        &:hover{
            text-decoration: none;
            color: #ababab;
        }
    }

    .social-icons{
        li{
            line-height: 1rem;
            padding:5px;
        }
        .social-icons-email{
            .fa-xl{
                font-size: 1.7em;
                vertical-align: sub;
            }
        }
    }

    .container .row>div {
        margin-bottom: 25px
    }

    .logo {
        display: block
    }

    .phone {
        display: block;
        padding-bottom: 15px;
        font-size: 1.15rem;

        a:hover{
            text-transform: none;
        }
    }

    &.short {
        padding-top: 50px;

    }

    .logo img {
        opacity: .75
    }

    hr.solid {
        background: #1b1b1b;
        margin-top: -10px
    }

    .fa-phone {
        position: relative;
        top: 1px;
        margin-right: 2px
    }

    &,
    &.short {
        padding: 0;
    }

    .container {
        padding-top: 50px
    }

    .location{
        letter-spacing: 0.17em;
        text-transform: none;
    }

}
