@import "styles/variables";

// @import "Base";
// @import "Grid";
// @import "Typography";
// @import "Header";
// @import "Navigations";
// @import "Section";
// @import "Elements";
// @import "Forms";
// @import "Blog";
// @import "Footer";
// @import "Tabs";

html,body{
    width: 100%;
    font-size: 100%;
}

body{
    background-color: #dadada;
}
