<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:spaceless>
		<f:variable name="frame-space-after"></f:variable>
    <f:if condition="{data.space_after_class}">
      <f:variable name="frame-space-after"> frame-space-after-{data.space_after_class}</f:variable>
    </f:if>

		<f:variable name="frame-space-before"></f:variable>
    <f:if condition="{data.space_before_class}">
      <f:variable name="frame-space-before"> frame-space-before-{data.space_before_class}</f:variable>
    </f:if>

		<f:variable name="layout"></f:variable>
    <f:if condition="{data.pi_flexform.layout}">
      <f:variable name="layout"> {data.pi_flexform.layout}</f:variable>
    </f:if>

		<div class="frame-default{frame-space-before}{frame-space-after}">
			<f:render partial="Header/All" arguments="{_all}" />
			<f:comment>#t4977, 200424, dwildt, +hidden</f:comment>
			<div id="slickid-{data.uid}" class="slick-slider slickdefault hidden {layout}">
				<f:render section="Main" optional="true" />
			</div>
			<f:comment>#t4060</f:comment>
			<f:if condition="{data.pi_flexform.sync-enabled}">
				<div id="slicksync-{data.uid}" class="slick-sync slickdefault">
					<f:render section="Main" optional="true" />
				</div>
			</f:if>
		</div>

	</f:spaceless>
	<f:render partial="Css" arguments="{_all}" />	
	<f:render partial="Javascript" section="JS-Responsive" arguments="{_all}" />	
</html>