<f:layout name="Page/Default" />
<f:section name="Main">
    <!-- <section class="section section-text-secondary-color section-center mt-0 mb-5">
        <div class="section-inner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <f:comment>
                            <f:render section="About" />
                        </f:comment>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <div class="container">
        <div class="row mb-5 mt-5 pt-4">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6">
                        <f:comment>
                            <f:render section="Company" />
                        </f:comment>
                    </div>
                    <div class="col-lg-6">
                        <f:comment>
                            <f:render section="Mission" />
                        </f:comment>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-none d-sm-block">
                <div class="row text-center mt-5 mt-lg-0">
                    <div class="col-md-8 col-lg-6 mx-auto">
                        <f:image src="fileadmin/user_upload/office/our-office-1.jpg" width="80" height="80"
                            alt="W3Development SHPK - Office" class="img-fluid m-3 my-0 mt-lg-5" />
                        <f:image src="fileadmin/user_upload/office/our-office-2.jpg" width="80" height="80"
                            alt="W3Development SHPK - Office" class="img-fluid m-3 my-0" />
                    </div>
                    <div class="col-md-8 col-lg-6 mx-auto">
                        <f:image src="fileadmin/user_upload/office/our-office-3.jpg" width="80" height="80"
                            alt="W3Development SHPK - Office" class="img-fluid m-3 my-0" />
                        <f:image src="fileadmin/user_upload/office/our-office-4.jpg" width="80" height="80"
                            alt="W3Development SHPK - Office" class="img-fluid m-3 my-0" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="m-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <f:comment>
                        <f:render section="Team" />
                    </f:comment>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8">
                    <div class="row mt-4">
                        <f:comment>
                            <f:render section="TeamItems" />
                        </f:comment>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="section section-default section-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <f:comment>
                        <f:render section="Clients" />
                    </f:comment>
                </div>
            </div>
            <div class="row mt-4">
                <div class="content-grid content-grid-dashed col mt-5 mb-4">
                    <div class="row content-grid-row">
                        <div class="content-grid-item col-lg-4 text-center">
                            <f:image src="fileadmin/user_upload/partners/1.web-company-typo3.png" width="350"
                                height="100" alt="" class="img-fluid" />
                        </div>
                        <div class="content-grid-item col-lg-4 text-center">
                            <f:image src="fileadmin/user_upload/partners/2.web-company-magento.png" width="350"
                                height="100" alt="" class="img-fluid" />
                        </div>
                        <div class="content-grid-item col-lg-4 text-center">
                            <f:image src="fileadmin/user_upload/partners/3.web-development-company-typo3.png"
                                width="350" height="100" alt="" class="img-fluid" />
                        </div>
                    </div>
                    <div class="row content-grid-row">
                        <div class="content-grid-item col-lg-4 text-center">
                            <f:image src="fileadmin/user_upload/partners/4.web-company-digital-wordpress-design.png"
                                width="350" height="200" alt="" class="img-fluid" />
                        </div>
                        <div class="content-grid-item col-lg-4 text-center">
                            <f:image src="fileadmin/user_upload/partners/5.web-company-wordpress-development.png"
                                width="350" height="200" alt="" class="img-fluid" />
                        </div>
                        <div class="content-grid-item col-lg-4 text-center">
                            <f:image src="fileadmin/user_upload/partners/6.web-development-magento-ecommerce.png"
                                width="350" height="200" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</f:section>
