<div class="slider-container rev_slider_wrapper">
  <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 800, 'gridheight': 320, 'spinner': 'off'}">
    <ul>
      <li data-transition="fade">
        <img src="/assets/images/banner/about-our-company.jpg"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">
        <div class="rs-background-video-layer"
          data-forcerewind="on"
          data-volume="mute"
          data-videowidth="100%"
          data-videoheight="100%"
          data-videomp4="/typo3conf/ext/theme/Resources/Public/Videos/demo.mp4"
          data-videopreload="preload"
          data-videoloop="loop"
          data-forceCover="1"
          data-aspectratio="16:9"
          data-autoplay="true"
          data-autoplayonlyfirsttime="false"
        ></div>
        <div class="tp-dottedoverlay tp-opacity-overlay"></div>
      </li>
    </ul>
  </div>
</div>
