<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

 <f:layout name="Content/Default"/>

 <f:section name="Configuration">
     <flux:form id="blogteaser" label="Blog Teaser">
         <flux:field.input label="Link" name="link">
             <flux:wizard.link activeTab="link"/>
         </flux:field.input>
         <flux:field.file name="image" label="Image" useFalRelation="1" minItems="0" maxItems="1" allowed="jpg,png,svg" showThumbnails="1" />
         <flux:field.input name="alt" label="Alt" />
     </flux:form>
 </f:section>

 <f:section name="Preview">
     <table width="100%">
         <tr>
             <td width="100%">
                 <h3>{headline}</h3>
             </td>
         </tr>
     </table>
 </f:section>

 <f:section name="Main">
    <f:link.typolink parameter="{link}" class="btn btn-xs btn-primary">Read more...</f:link.typolink>
    <div class="opacity-layer"></div>
    <f:image src="{image}" class="img-fluid" width="450" height="300"  alt="{alt}"/>
</f:section>
</div>
