<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

  <f:layout name="Content/Default"/>

  <f:section name="Configuration">
    <flux:form id="header" label="Header" description="Adds a header">
        <flux:form.option.group value="contents" />
        <flux:form.option.sorting value="101" />
        <flux:form.option.icon  value="/typo3conf/ext/theme/Resources/Public/Images/Backend/Icons/content-header.svg" />
        <flux:field.input name="header" label="Header" required="1" />
        <flux:field.select name="type" label="Type" items="h1,h2,h3,h4,h5,h6" maxItems="1" default="h2"  />
        <flux:field.select name="align" label="Align"
        items="{
                0:{0:'On the left side',1:'left'},
                1:{0:'On the center',1:'center'},
                2:{0:'On the right side',1:'right'}
              }" maxItems="1"  />
        <flux:field.input name="class" label="Styling" />
    </flux:form>
  </f:section>

  <f:section name="Preview">
      <table width="100%">
          <tr>
              <td width="100%">
                  <h5><strong>Header [{type}]</strong></h5>{header}
              </td>
          </tr>
      </table>
  </f:section>

  <f:section name="Main">
    <{type} class="{align} {class}">
      {header}
    </{type}>
  </f:section>
</div>
