<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Content/Default"/>

<f:section name="Configuration">
    <flux:form id="htmltext" label="Html Text">
        <flux:field.text name="text" rows="20" cols="70" label="Text" />
        <flux:field.select name="alignment" label="Alignment" items="Default,Center,Right,Left" default="Left" maxItems="1"  />
    </flux:form>
</f:section>

<f:section name="Preview">
    <table width="100%">
        <tr>
            <td width="100%">
                <h3>{text}</h3>
            </td>
        </tr>
    </table>
</f:section>

<f:section name="Main">
 <div style="text-align:{alignment};">
   <f:format.html >{text}</f:format.html>
 </div>
</f:section>
</div>
