<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Content/Default"/>

<f:section name="Configuration">
    <flux:form id="image" label="Image" description="Adds an image file.">
        <flux:field.file name="image" label="Image" useFalRelation="1" minItems="0" maxItems="1" allowed="jpg,png,svg" showThumbnails="1" />
        <flux:field.select name="alignment" label="Alignment" items="Default,Center,Right,Left" default="Left" maxItems="1"  />
        <flux:field.input name="class" label="Class" />
        <flux:field.input name="alt" label="Alt" />
    </flux:form>
</f:section>

<f:section name="Preview">
    <table width="100%">
        <tr>
            <td width="100%">
                  <h5><strong>Image</strong></h5>{alt}
            </td>
        </tr>
        <tr>
          <td width="100%">
              <f:image src="{image}" style="text-align: \{alignment\} " width="500" />
          </td>
        </tr>
    </table>
</f:section>

<f:section name="Main">
  <f:image src="{image}" class="{class} {alignment}" alt="{alt}" />
</f:section>

</div>
