<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">


<f:layout name="Page/Blog" />

<f:section name="Configuration">
    <flux:form id="blog">
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="0" name="Content" label="Content" />
            </flux:grid.row>
        </flux:grid>
    </flux:form>
</f:section>

<f:section name="Content">
    <v:content.render column="0" />
</f:section>

</div>
