<div class="body">
    <div class="container">
        <header>
            <div class="brand">LOGO</div>
            <div class="navigation">
                <nav class="main">
                    <ul>
                        <li><a href="">Agency</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Products</a></li>
                        <li><a href="">Technologies</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="container">
        <footer>Footer</footer>
    </div>
</div>

