<div class="body homepage">
	<header id="header">
		<div class="header bar flex container">
			<div class="brand"><img src="typo3conf/ext/theme/Resources/Public/Images/Logo/logo-white.svg" /></div>
			<div class="navigation">
				<nav>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Services</a></li>
							<li><a href="">Work</a></li>
							<li><a href="">Contact</a></li>
						</ul>
				</nav>
			</div>
			<!-- <div class="support-navigation">
				<nav>
						<ul>
							<li><a href="">HIRE</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Client</a></li>	
						</ul>
				</nav>
			</div> -->
		</div>
	</header>
	<section id="sec0"></section>
	<section id="sec1"></section>
	<section id="sec2"></section>
	<section id="sec3" style="height:500px;"></section>
	<footer id="footer"></footer>
	<!-- <div role="main" class="main">
		<div class="slider">
			<div class="slider-inner-cover">
				<div class="slider-inner container">
					<div class="slider-intro">
						<h1>eCommerce<br>Service</br>Provider</h1><br/>
						<h2>B2B & B2C Focused Solutions</h2>
						<a class="btn btn-primary mt-5 mb-2" href="/contact">Request Quote<i class="fa fa-angle-right pl-1"></i></a>
						<span class="btn mt-5 mb-2 text-darker">Or</span>
						<a class="btn mt-5 mb-2 text-learn-more text-secondary" href="/about"><u>Learn More</u></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col-lg-10">
				</div>
			</div>
		</div>
		<section class="section section-default section-default-scale-8">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
					</div>
				</div>
			</div>
		</section>
		<section class="mt-5 mb-0 pb-0">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="carousel-areas mt-3 mb-0">
							<amp-carousel id="custom-button"
							  width="400"
							  height="300"
							  layout="responsive"
							  type="slides"
							  autoplay
							  delay="3500">
							  <amp-img src="fileadmin/user_upload/portfolio/feature/nextmedia-hamburg.de-feature.jpg"
							    width="750"
							    height="750"
							    layout="responsive"
							    alt="a sample image"></amp-img>
							  <amp-img src="fileadmin/user_upload/portfolio/feature/skyshot.sg-feature.jpg"
							    width="750"
							    height="750"
							    layout="responsive"
							    alt="another sample image"></amp-img>
							  <amp-img src="fileadmin/user_upload/portfolio/feature/axelnoah.se-feature.jpg"
							    width="750"
							    height="750"
							    layout="responsive"
							    alt="and another sample image"></amp-img>
							  <amp-img src="fileadmin/user_upload/portfolio/feature/anjawalterris.de.jpg"
							    width="750"
							    height="750"
							    layout="responsive"
							    alt="and another sample image"></amp-img>
							</amp-carousel>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<div class="row mt-5 pt-3 counters counters-text-dark">
			</div>
		</div>
	</div> -->
</div>
