.blog{

  a{
    color: $color-primary;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  &.headings{
    max-width: 550px;
  }

  li{
    &::before {
      content: "\25AA";
      list-style-type: square;
      color: $color-primary;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  .ce-intext.ce-right .ce-gallery {
    padding: 15px 0px 0px 25px;
  }
}

.blog-posts {

    font-size: 1.125rem;

    .blog-single-post{
        padding-right:4em;
    }

	.post-content-header h1 {
		color: #fff;
		letter-spacing: 1px;
	}

	.post-content-header .meta .author,
	.post-content-header .meta .date {
		color: #fff;
	}

	.blog-headings {
		margin-bottom: 0.5em;
		font-weight: 700;
		letter-spacing: 1px;
	}

    .post-content-body{
        .frame{
            header{
                width: 70%;
                h2{
                    font-weight: bold;
                    line-height: 1.2;
                }
            }
        }
    }
}
