#footer {
    clear: both;

    .social-icons{
        li{
            line-height: 1rem;
            padding:5px;
        }
        .social-icons-email{
            .fa-xl{
                font-size: 1.7em;
                vertical-align: sub;
            }
        }
    }

    .logo {
        display: block
    }

    .phone {
        display: block;
        padding-bottom: 15px;
        font-size: 1.15rem;

        a:hover{
            text-transform: none;
        }
    }

    &.short {
        padding-top: 50px;

    }

    .logo img {
        opacity: .75
    }

    hr.solid {
        background: #1b1b1b;
        margin-top: -10px
    }

    .fa-phone {
        position: relative;
        top: 1px;
        margin-right: 2px
    }

    &,
    &.short {
        padding: 0;
    }

    .location{
        letter-spacing: 0.17em;
        text-transform: none;
    }

}

#footer{
	position: relative;
	clear: both;

  .logo {
  	display: block
  }
  .phone {
  	color: #FFF;
  	font-size: 26px;
  	font-weight: 700;
  	display: block;
  	padding-bottom: 15px;
  	margin-top: -5px
  }
  .logo img {
  	opacity: .75
  }
  hr.solid {
  	background: #1b1b1b;
  	margin-top: -10px
  }
  h5 {
  	font-size: 15px
  }
  .fa-phone {
  	position: relative;
  	top: 1px;
  	margin-right: 2px
  }
  .footer-email-custom {
  	margin: 2px 10px 0 0;
  	font-size: 13px;
  	border-right: 1px solid #1b1b1b;
  	padding: 0 20px 3px 0;
  	display: block
  }
  &, &.short {
  	padding: 0;
  }
  &{
    border: none;
  }

}
@media (max-width: 991px) {
	#footer .phone {
		font-size: 20px
	}
}
@media (max-width: 767px) {
	#footer .phone {
		font-size: 20px
	}
}
