.blog{

  a{
    color: $color-primary;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  &.headings{
    max-width: 550px;
  }

  li{
    &::before {
      content: "\25AA";
      list-style-type: square;
      color: $color-primary;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  .ce-intext.ce-right .ce-gallery {
    padding: 15px 0px 0px 25px;
  }
}

h2.blog.headings{
  font-size: 2rem;
  margin-bottom: 10px;
}
