.nav {
    >li {
        >a {
            &:focus {
                background: 0 0;
            }

            &:hover {
                background: 0 0;
            }
        }
    }
}

ul {
    &.nav-pills {
        >li {
            >a {
                &.active {
                    color: #FFF;
                    background-color: #CCC;
                }

                &:focus {
                    color: #FFF;
                    background-color: #CCC;
                }

                &:hover {
                    color: #FFF;
                    background-color: #CCC;
                }
            }
        }
    }
}

.nav-pills .nav-link.active {
    background-color: transparent
}

.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    &-link {
        display: block;
        padding: .5rem 1rem;
    }

    &-tabs {
        border-bottom: 1px solid #dee2e6;
    }
}

.nav-tabs {
    .nav-item {
        margin-bottom: -1px;
    }

    .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;

        &:focus {
            border-color: #e9ecef #e9ecef #dee2e6;
        }

        &:hover {
            border-color: #e9ecef #e9ecef #dee2e6;
        }
    }
}

.nav-pills {
    .nav-link.active {
        color: #fff;
    }
}

.nav-tabs {
    margin: 0;
    padding: 0;
    border-bottom-color: #EEE;

    li {
        &:last-child .nav-link {
            margin-right: 0;
        }

        .nav-link {
            font-size: 14px;
            margin-right: 1px;
        }

        .nav-link,
        .nav-link:hover {
            background: #F4F4F4;
            border-bottom: none;
            border-left: 1px solid #EEE;
            border-right: 1px solid #EEE;
            border-top: 3px solid #EEE;
            color: #CCC
        }

        .nav-link:hover {
            border-bottom-color: transparent;
            border-top: 3px solid #CCC;
            box-shadow: none;
        }

        .nav-link:active,
        .nav-link:focus {
            border-bottom: 0;
        }

        &.active .nav-link,
        &.active .nav-link:focus,
        &.active .nav-link:hover {
            background: #FFF;
            border-left-color: #EEE;
            border-right-color: #EEE;
            border-top: 3px solid #CCC;
            color: #CCC;
        }
    }
}

input#toggle {
    display: none;
}

input#submenu {
    display: none;
}

.submenuexpanded {
    display: none;
}

label.button {
    display: none;
}

.submenuexpanded {
    position: absolute;
    top: 15px;
    right: 50%;
    float: right;
    margin-right: -80px;
    padding: 10px 13px
}

li.dropdown {
    line-height: 0;
}

label .fa-bars {
    color: #517485;
    font-size: 18px;
}

.dropdown label .fa-caret-down {
    color: #4e7183;
}


@media only screen and (max-width : 991px) {
    .header-row input#submenu:checked~.dropdown-menu {
        display: block;
    }

    .header-row input#toggle:checked~.collapse {
        top: -700px;
    }

    #header .header-nav-main nav>ul li.dropdown .dropdown-menu {
        border-left: none;
        border-right: none;
        border-top: 1px solid #CCC;
        border-color: #CCC;
        //border:0;

    }

    #header .header-nav-main nav .dropdown>ul li a {
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 20px;
        color: #CCC;
        font-size: 17px;
        text-align: center;
        padding-bottom: 20px;
    }

    #header .header-nav-main nav>ul li.dropdown .dropdown-menu {
        background-color: #e85215;
        box-shadow: inset 0px 10px 8px -10px, inset 0px -10px 8px -10px;
    }

    .header-row input#toggle+label {
        right: 28px;
        font-size: 18px;
        font-weight: bold;
        color: #CCC;
        display: block;
        height: 34px;
        position: absolute;
        right: 28;
        top: -65px;
        cursor: pointer;
        border-bottom: 4px solid #e85215;
        z-index: 10;
        line-height: 34px;
    }

    .header-row .collapse {
        position: relative;
        top: 0;
        background-color: #1d2b32;
    }

    .header-nav-main.header-nav-main-square.header-nav-main-effect-2.header-nav-main-sub-effect-1 {
        height: 0;
    }

    #header .header-nav-main nav {
        max-height: 87vh;
        padding: 0;
    }

    nav.collapse #mainNav a:hover {
        background-color: #e85215;
    }

    label.button {
        display: block;
    }

    #header .header-nav-main nav>ul>li>a {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 17px;
    }

    .submenuexpanded {
        display: block;
    }
}
